*{
    padding: 0px;
    margin: 0px;box-sizing: border-box;
}
.mainhead{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.head{
    display: flex;
    align-items: center;
    margin:50px;
}
.maincontainer{
    display: flex;
    justify-content: space-evenly;
    width:100%;
    align-items: center;
}

.card{
    width:350px;
    height:350px;
}
.card:hover{
    background-color:blue;
}